streamlit
python-dotenv
google-generativeai
phi
youtube-transcript-api
Pillow
PyPDF2
pdf2image
speechrecognition
pydub
fastapi
uvicorn
youtube_transcript_api
streamlit
google-generativeai
python-dotenv
pathlib
Pillow
PyPDF2
pytesseract
pdf2image
SpeechRecognition
pydub
python-multipart
